<div class="schedule-calendar">
  <div class="field">
    <div class="control">
      <label for="schedule-date">Schedule date</label>
      <input class="input" id="schedule-date" type="date" #input/>
    </div>
  </div>
</div>

<div class="board-section">
  <div class="panel">
    <app-schedule-item [type]="itemType">
      <h3 #h3>Morning</h3>
      <span>Eggs</span>
    </app-schedule-item>
  </div>
  <div class="panel">
    <div class="panel-heading">Lunch</div>
    <div class="panel-block item">
      <i class="fa fa-utensils"></i> Spaghetti
    </div>
    <div class="panel-block item">
      <i class="fa fa-dumbbell"></i> Lifting
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">Evening</div>
    <div class="panel-block item">
      <i class="fa fa-plus-square"></i> Assign food
    </div>
    <div class="panel-block item">
      <i class="fa fa-plus-square"></i> Assign training
    </div>
  </div>
</div>
