<div class="panel">
  <div class="panel-heading space-between flex align-items-center">
    <span><i class="fa fa-dumbbell"></i> Your trainings:</span>
    <button routerLink="./add" class="button is-primary is-small">
      Add Training
    </button>
  </div>
  <input
    class="input my-3"
    type="text"
    placeholder="Search"
    [formControl]="searchControl"
  />

  <app-list-item
    *ngFor="let workout of workouts"
    [item]="workout"
    (edit)="handleEdit($event)"
    (deleted)="handleDelete($event)"
  ></app-list-item>
</div>
